<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .app {
            width: 980px;
            margin: 0 auto;
        }

        .info {
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="app" class="app table-responsive">
        <div class="form-group">
            <label for="exampleInputName2">公司</label>
            <div class="form-inline">
                <div class="form-group">
                    <input v-model.trim='name' type="text" class="form-control" id="exampleInputName2"
                        placeholder="请输入公司">
                    <button @click='add' type="button" class="btn btn-info">添加</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <div class="form-group">
                    <input v-model="msg" @change="query(msg)" type="text" class="form-control" id="exampleInputEmail2"
                        placeholder="请输入检索内容">
                </div>

            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>公司</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='(item,i) in list' :key='i'>
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.date}}</td>
                    <td>
                        <a href="#" @click.prevent='del(i)'>删除</a>
                    </td>
                </tr>
                <tr v-if='!list.length'>
                    <td colspan="4" style="color:#999">没有任何数据</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                list: [{
                    name: '阿里',
                    date: new Date()
                }, {
                    name: '腾讯',
                    date: new Date()
                }, {
                    name: '字节跳动',
                    date: new Date()
                }],
                name: '',
                msg: ''
            },

            methods: {
                add() {
                    let item = {
                        name: this.name,
                        date: new Date()
                    }
                    this.list.unshift(item)
                    this.name = ''
                },
                del(i) {
                    if (confirm('确认删除该条信息吗？')) {
                        this.list = this.list.filter((item, index) => index !== i)
                    }
                },
                query(msg) {
                    this.list = this.list.filter(item => item.name === msg)
                }
            }
        });
    </script>
</body>

</html>